.header{
    width: 100%;
    height: rem(180px);
    display: flex;
    flex-direction: column;
    margin-bottom: rem(-10px);
    @include tablets{
        margin-bottom: rem(-12px);
    }
    @include phones{
        margin-bottom: 0;
    }
}

.header__top{
    height: rem(40px);
    background-color: #000000;
    .content{
        justify-content: flex-end;
    }
}

.header__bottom{
    .content{
        justify-content: space-between;
        width: 100%;
    }
}

.nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__block{
    margin-left: rem(25px);
}

.nav__link{
    line-height: rem(40px);
    color: #ffffff;
    text-transform: uppercase;
    @include font();
    text-decoration: none;
}

.header__bottom{
    display: flex;
    width: 100%;
    height: 140px;
    background: rgba(0,225,255,1);
    background: -moz-linear-gradient(top, rgba(0,225,255,1) 0%, rgba(255,255,255,0.5) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,225,255,1)), color-stop(100%, rgba(255,255,255,0.5)));
    background: -webkit-linear-gradient(top, rgba(0,225,255,1) 0%, rgba(255,255,255,0.5) 100%);
    background: -o-linear-gradient(top, rgba(0,225,255,1) 0%, rgba(255,255,255,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(0,225,255,1) 0%, rgba(255,255,255,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,225,255,1) 0%, rgba(255,255,255,0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e1ff', endColorstr='#ffffff', GradientType=0 );
    .content{
        justify-content: space-between;
    }
}

.header__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: rem(205px);
    height: 100%;
}

.header__logo-img{
    max-width: 100%;
    max-height: 100%;
}

.header__sity{
    width: rem(470px);
    height: 100%;
    background-image: url("../img/sity.png");
    background-size: cover;
}

.header__phone{
    display: flex;
    flex-direction: column;
    width: rem(255px);
    @include phones{
        align-items: flex-end;
        width: rem(50px);
        margin-right: rem(10px);
    }
}

.phone{
    text-align: center;
    margin-top: rem(20px);
    @include font();
    font-size: rem(30px);
    @include tablets{
        font-size: rem(23px);
    }
    @include phones{
        display: none;
    }
}

.btn{
    margin-top: rem(10px);
    background-color: $yellow;
    text-transform: uppercase;
    @include phones{
        display: none;
    }
}

.btn__link{
    text-align: center;
    display: block;
    padding: rem(12px) rem(50px);
    text-decoration: none;
    color: #000000;
    @include tablets{
        padding: rem(12px) rem(30px);
    }
}

.phone-pic{
    display: none;
    width: rem(50px);
    height: rem(50px);
    // background: #000;
    margin-top: rem(15px);
    @include phones{
        display: none;
    }
}

.phone-img{
    width: 100%;
    height: 100%;
}

.min-menu-link{
    display: none;
    width: rem(40px);
    height: rem(40px);
    // background: #000;
    margin-top: rem(20px);
    @include phones{
        display: block;
    }
    &:hover{
        .min-menu-row{
            box-shadow: 0px 0px 8px 2px #ffffff;
        }
    }
}

.min-menu-row{
    display: block;
    width: 100%;
    height: rem(8px);
    border-radius: rem(4px);
    background-color: #000000;
    margin-bottom: rem(8px);
}