.menu{
    width: 100%;
    display: flex;
    font-size: rem(13px);
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    @include tablets{
        font-size: rem(10px);
    }
    @include phones{
        display: none;
    }
}

.menu__block{
    flex: 1 1;
    display: inline-block;
    vertical-align: middle;
}

.menu__home{
    background-color: $grey;
    height: rem(38px);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        background-color: $yellow;
    }
}

.menu__img{
    display: block;
    width: rem(18px);
    height: rem(18px);
    @include tablets{
        width: rem(15px);
        height: rem(15px);
    }
}

.menu__link{
    position: relative;
    justify-content: center;
    white-space: nowrap;
    padding: rem(10px) rem(13px);
    background-color: $grey;
    height: 100%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    text-decoration: none;
    color: #000000;
    &:hover{
        background-color: $yellow;
    }
    &:before{
        content: "";
        display: block;
        width: 1px;
        height: 70%;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: $greyLight;
    }
}

.menu-is-active{
    .menu__link{
        height: rem(38px);
        background: transparent;
        z-index: 2;
        position: relative;
        &:before{
            background: transparent;
        }
        &:after{
            z-index: -1;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            content: "";
            display: block;
            background-color: $yellow;
            padding: rem(20px) rem(10px);
            box-shadow: 0px 2px 10px #9f9f9f;
            margin-top: rem(5px);
            margin-bottom: rem(5px);
        }
        &:hover{
            background: transparent;
        }
    }
    
    
}
