.sidebar-title{
    text-transform: uppercase;
    padding: rem(5px) rem(10px);
    border-left: rem(9px) solid $yellow;
    @include font(semibold);
}

.sidebar{
    width: 100%;
    @include phones{
        margin-bottom: rem(15px);
    }
}

.sidebar__nav{
    width: 100%;
    margin-top: rem(15px);
    @include phones{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    
}

.sidebar__block{
    margin-top: 1px;
    @include phones{
        flex: 1 1 rem(220px);
        margin: 1px 1px;
        text-align: center;
        min-width: rem(200px);
    }
}

.sidebar__link{
    text-decoration: none;
    @include font(semibold);
    padding: rem(3px) rem(5px);
    display: flex;
    align-items: center;
    background-color: $greyLight;
    height: 100%;
    &:hover{
        background-color: $grey;
    }
    @include phones{
        display: flex;
        justify-content: center;
        padding: rem(5px) rem(10px);
    }
}

.sidebar__text{
    color: #000000;
    margin-left: rem(10px);
    @include tablets{
        font-size: rem(13px);
    }
    @include phones{
        font-size: rem(18px);
    }
}